<div
  [formGroup]="formGroup"
  class="flex flex-col py-3 px-5 border-solid border-safra-neutral-300 border-[1px] rounded-xl"
>
  <label
    class="text-safra-primary-500 text-sm bg-transparent"
    [for]="formControlName"
    ><ng-content></ng-content
  ></label>
  <input
    class="text-sm font-extralight text-safra-primary-900 bg-transparent mt-2 foc"
    [type]="type"
    [name]="formControlName"
    [id]="formControlName"
    [placeholder]="placeholder"
    [formControlName]="formControlName"
  />
</div>
