<div class="w-full h-full flex justify-center items-center">
  <form
    class="flex flex-col gap-4 bg-safra-neutral-50 w-96 rounded-tr-none rounded-tl-3xl rounded-bl-3xl rounded-br-3xl p-4"
    [formGroup]="registerForm"
  >
    <h1 class="text-xl font-semibold uppercase w-full text-center">
      Cadastro de cliente
    </h1>
    <div class="flex flex-col gap-4">
      <div
        class="flex flex-col py-3 px-5 border-solid border-safra-neutral-300 border-[1px] rounded-xl"
      >
        <label
          class="text-safra-primary-500 text-sm bg-transparent"
          for="firstName"
          >Nome:</label
        >
        <input
          class="text-sm font-extralight text-safra-primary-900 bg-transparent mt-2 invalid:text-red-500"
          type="text"
          name="firstName"
          id="firstName"
          placeholder="Digite o nome do cliente"
          formControlName="firstName"
        />
        <small
          class="text-xs text-orange-500 w-full flex justify-end mt-2"
          *ngIf="
            registerForm.controls['firstName'].dirty &&
            registerForm.hasError('required', 'firstName')
          "
          >* Nome é requerido!
        </small>
      </div>
      <div
        class="flex flex-col py-3 px-5 border-solid border-safra-neutral-300 border-[1px] rounded-xl"
      >
        <label
          class="text-safra-primary-500 text-sm bg-transparent"
          for="lastName"
          >Sobrenome:</label
        >
        <input
          class="text-sm font-extralight text-safra-primary-900 bg-transparent mt-2 invalid:text-red-500"
          type="text"
          name="lastName"
          id="lastName"
          placeholder="Digite o sobrenome do cliente"
          formControlName="lastName"
        />
        <small
          class="text-xs text-orange-500 w-full flex justify-end mt-2"
          *ngIf="
            registerForm.controls['lastName'].dirty &&
            registerForm.hasError('required', 'lastName')
          "
          >* Sobrenome é requerido!
        </small>
      </div>
      <div
        class="flex flex-col py-3 px-5 border-solid border-safra-neutral-300 border-[1px] rounded-xl"
      >
        <label class="text-safra-primary-500 text-sm bg-transparent" for="cpf"
          >CPF:</label
        >
        <input
          #cpfInput
          class="text-sm font-extralight text-safra-primary-900 bg-transparent mt-2 invalid:text-red-500"
          type="text"
          name="cpf"
          id="cpf"
          placeholder="Digite o CPF do cliente"
          mask="000.000.000-00"
          formControlName="cpf"
        />
        <small
          class="text-xs text-orange-500 w-full flex justify-end mt-2"
          *ngIf="
            registerForm.controls['cpf'].dirty &&
            registerForm.hasError('required', 'cpf')
          "
          >* CPF é requerido!
        </small>
      </div>
      <div
        class="flex flex-col py-3 px-5 border-solid border-safra-neutral-300 border-[1px] rounded-xl"
      >
        <label
          class="text-safra-primary-500 text-sm bg-transparent"
          for="birthDate"
          >Data de Nascimento:</label
        >
        <input
          class="text-sm font-extralight text-safra-primary-900 bg-transparent mt-2 invalid:text-red-500"
          type="date"
          name="birthDate"
          id="birthDate"
          placeholder="Digite a data de aniversário do cliente"
          formControlName="birthDate"
        />
        <small
          class="text-xs text-orange-500 w-full flex justify-end mt-2"
          *ngIf="
            registerForm.controls['birthDate'].dirty &&
            registerForm.hasError('required', 'birthDate')
          "
          >* Data de Nascimento é requerida!
        </small>
      </div>
      <div
        class="flex flex-col py-3 px-5 border-solid border-safra-neutral-300 border-[1px] rounded-xl"
      >
        <label
          class="text-safra-primary-500 text-sm bg-transparent"
          for="monthlyIncome"
          >Renda Mensal (R$):</label
        >
        <input
          class="text-sm font-extralight text-safra-primary-900 bg-transparent mt-2 invalid:text-red-500"
          type="number"
          name="monthlyIncome"
          id="monthlyIncome"
          placeholder="Digite a renda mensal do cliente"
          formControlName="monthlyIncome"
        />
        <small
          class="text-xs text-orange-500 w-full flex justify-end mt-2"
          *ngIf="
            registerForm.controls['monthlyIncome'].dirty &&
            registerForm.hasError('required', 'monthlyIncome')
          "
          >* Renda Mensal é requerida!
        </small>
      </div>
      <div
        class="flex flex-col py-3 px-5 border-solid border-safra-neutral-300 border-[1px] rounded-xl"
      >
        <label class="text-safra-primary-500 text-sm bg-transparent" for="email"
          >E-mail:</label
        >
        <input
          class="text-sm font-extralight text-safra-primary-900 bg-transparent mt-2 invalid:text-red-500"
          type="email"
          name="email"
          id="email"
          placeholder="Digite o e-mail do cliente"
          formControlName="email"
        />
        <small
          class="text-xs text-orange-500 w-full flex justify-end mt-2"
          *ngIf="
            registerForm.controls['email'].dirty &&
            registerForm.hasError('required', 'email')
          "
          >* E-mail é requerido!
        </small>
      </div>
    </div>
    <div class="w-full flex flex-row justify-between">
      <app-button (buttonClick)="closeDialog.emit()">Fechar</app-button>
      <app-button (buttonClick)="onSaveRegister()!.emit()">Salvar</app-button>
    </div>
  </form>
</div>
